* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: lightcyan;
}

.card-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.card {
  padding: 40px;
  border: 1px solid #1f3f41;
  border-radius: 12px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 40px;
  background: none;
  border: none;
}
